<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.netflixcloneapp">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetflixcloneApp">
        <activity android:name=".Movie.MovePlayerActivity"
          android:screenOrientation="landscape">

           </activity>
        <activity android:name=".Movie.MovieDetails" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Netflixlogin" />
        <activity android:name=".Register.NetflixRegister" />
        <activity android:name=".Movie.MovieActivity" />
    </application>

</manifest>